# AWS Configuration
AWS_REGION=us-east-2
SECRET_KEY=your_secret_key_here
DYNAMODB_TABLE=your_dynamodb_table_name

# Email Configuration
EMAIL_SENDER=noreply@lostgates.com
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password_here
SMTP_USE_TLS=True

# Redis Configuration
REDIS_URL=redis://localhost:6379/0
